version: '3.8'
services:
  postgres:
    image: postgres:13
    restart: always
    environment:
      - POSTGRES_USER=hearsay
      - POSTGRES_PASSWORD=password
      - POSTGRES_DB=hearsay
    ports:
      - '5432:5432'
    volumes:
      - postgres:/var/lib/postgresql/data

volumes:
  postgres:
    name: hearsay-db
